.app {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    min-height: 70vh;
}

.sidebar{
    width: 15%;
    background-color: #1e1e1e;
}
.content{
    flex: 1;
    background-color: #1e1e1e;
}

.top-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
  z-index: 9999;
  animation: slideDown 0.45s ease-out;
}

.top-alert strong {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.success {
  background-color: #2e7d32;
}

.error {
  background-color: #c62828;
}

.warning {
  background-color: #ed8702;
}

.info {
  background-color: #767677;
}
