<div>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="sidebar" *ngIf="isLoggedIn()">
            <app-sidebar></app-sidebar>
        </div>
        <div class="content">
            <app-splash *ngIf="loading()"></app-splash>
            <router-outlet *ngIf="!loading()"></router-outlet>
            <div *ngIf="alert() as a" class="top-alert" [ngClass]="a.classAlert">
                <strong>{{ a.message }}</strong>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>