.separatore{
    margin: 0px;
    border: none;
    height: 5px;
    background-color: rgba(196, 176, 68, 0.9); /* colore oro */
}

.separatore2{
    margin: 0px;
    border: none;
    height: 20px;      
    background-color: #1e1e1e;
}

.app-footer{
    display: flex;
    align-items: center;       /* allinea verticalmente h1 e content */
    justify-content: space-between; /* h2 a sx, footer-content a dx */
    height: 80px;
    background-color: #1e1e1e;
    color: white;
    padding: 8px 18px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    flex: 1;                   /* occupa tutto lo spazio disponibile */
    justify-content: space-between; /* distribuisce blocchi tra loro */
    align-items: center;
}

.footer-contact p {
    margin: 3px 0;
    line-height: 1.2; 
}

.footer-git{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative; /* Necessario per posizionare il tooltip */
}

.git-link {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    border: none;
}


.gitIcon {
    width: 25px;
    height: 25px;
    filter: invert(1);
    object-fit: cover;
    border-radius: 50%;
}

/* Footer links */
.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
    text-decoration: underline; /* sottolineatura al mouseover */
}


.copy-tooltip {
  position: absolute;
  top: -35px;         /* distanza dal bottone */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  animation: fadeSlide 1.5s forwards;
  z-index: 20;
}

@keyframes fadeSlide {
  0%   { opacity: 0; transform: translate(-50%, 5px); }
  10%  { opacity: 1; transform: translate(-50%, 0); }
  90%  { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, -5px); }
}


@media (max-width: 999px) {
    .footer-content {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 1000px) {
    .footer-content {
        margin-left: 12%;
        margin-right: 12%;
    }
}
