<div>
  <h1>Aggiungi Promemoria al Task</h1>
    <form (submit)="submit($event)" class="add-reminder-form">
        <div class="form-group">
            <span>Data Promemoria</span>
            <input name="Data" autocomplete="off" type="date" [value]="datePart()" (input)="datePart.set($event.target.value)">
            <small class="error" *ngIf="isSubmitted() && formErrors()['datePart']">{{ formErrors()['datePart'] }}</small>
            <span>Ora Promemoria</span>
            <input name="Ora" autocomplete="off" type="time" [value]="timePart()" (input)="timePart.set($event.target.value)">
            <small class="error" *ngIf="isSubmitted() && formErrors()['timePart']">{{ formErrors()['timePart'] }}</small>
            
        </div>
        
        <button type="submit" class="btn-submit">Salva</button>
    </form>
</div>