h1{
  text-align: center;
}

.update-reminder-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group span {
  font-weight: bold;
  color: #555;
  margin-left: 3px;
}

input[type="text"],[type="date"],[type="time"] {
  border-radius: 10px;
  padding: 4px;
  border: 2px solid #1e1e1e;
}

.btn-submit {
  border-radius: 10px;
  width: 100%;
  border: none;
  background-color: #1e1e1e;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
}

@media (min-width: 1000px) {
h1{
  margin-bottom: 15px;
  font-size: 23px;
}
.update-reminder-form {
  gap: 5px;
}
.form-group span {
  margin-bottom: 2px;
  font-size: 16px;
  margin-top: 15px;
}
.btn-submit {
  padding: 3px 8px;
  font-size: 15px;
  margin-top:20px;
  margin-bottom: 8px;
}
.error {
  font-size: 12px;
}

}

@media (max-width: 999px) {
h1{
  margin-bottom: 2px;
  font-size: 18px;
}
.update-reminder-form {
  gap: 3px;
}
.form-group span {
  margin-bottom: 3px;
  font-size: 12px;
  margin-top: 15px;
}
.btn-submit {
  padding: 3px 8px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 6px;
}
.error {
  font-size: 12px;
}
}