.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* =========================   TOGGLE MODALITA' VISUALIZZAZIONE   ========================= */

.calendar-toolbar {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.toggleText {
  color: white;
}

.custom-toggle {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}

/* Nasconde il checkbox reale */
.custom-toggle input {
  display: none;
}

/* Track */
.slider {
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(211, 190, 70, 0.863);
  border-radius: 10px;
  transition: background-color 0.40s ease;
}

/* Thumb */
.slider::before {
  content: "";
  position: absolute;
  border: 1px solid rgba(211, 190, 70, 0.863);
  background-color: #1e1e1e;
  border-radius: 10px;
  transition: transform 0.50s ease;
}

/* Stato ON */
.custom-toggle input:checked + .slider {
  background-color: rgba(196, 176, 68, 0.9);
}

/* =========================   CALENDARIO   ========================= */

.calendar {
  width: 90%;
  margin: auto;
  font-family: Arial, sans-serif;
  border-radius: 6px;
  padding: 8px;
  background-color: #ffffff;
  color: #1e1e1e;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.calendar.animating {
  opacity: 0;
  transform: scale(0.97);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: bold;
}

.calendar-header.ten-days {
  display: flex;
  justify-content: center;
  border-bottom: 0px solid rgba(0, 0, 0, 0.0);
}

.changeMonth {
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  border: none;
}

.changeMonth:hover {
  scale: 1.1;
  background-color: rgba(196, 176, 68, 0.9);
}

.editDate {
  background-color: transparent;
  width: auto;
  font-size: 20px;
  font-weight: 600;
  color: black;
  border: none;
}

.editDate.month:hover {
  scale: 1.1;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
}

/* Modalità mese */
.calendar-row.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 130px;
  overflow: hidden;
}

/* Modalità 10 giorni */
.calendar-row.ten-days {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 220px;
  overflow: hidden;
}

.calendar-cell.today {
  border: 4px solid #1e1e1e; /* colore riquadro */
  border-radius: 15px; /* arrotondato come le altre celle */
}

/* =========================   CELLE E CONTENUTO   ========================= */

.calendar-cell {
  border: 1px solid #ccc;
  min-width: 0;  /* NON permette di allargarsi anche se title lungo*/
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scroll solo sui task */
  transition: overflow 0.5s; /* opzionale, per effetto più fluido */
}

.calendar-cell.outside {
  background-color: #efebeb;
  color: #aaa;
}

.cell-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cell-content::after {
  content: "";
  flex-shrink: 0;
  height: 3px; /* spazio sotto l’ultimo task */
}

.cell-content-header {
  flex-shrink: 0; /* Non si riduce mai */
  margin-bottom: 0px; /* Spazio tra header e task */
}

.cell-content-header.ten-days {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 12px;
}

.cell-tasks-wrapper {
  flex: 1 1 auto; /* Occupa tutto lo spazio rimanente */
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 3px; /* spazio sotto l’ultimo task */
  overflow-y: hidden;  /* scrollbar nascosta di default */
}

.cell-tasks-wrapper:hover {
  overflow-y: auto; /* scrollbar visibile solo al passaggio del mouse */
}

.task-chip {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.task-chip:hover {
  opacity: 0.7;
  scale: 1.05;
}

.task{
  width: 100%;
  display: flex;
  border-radius: 10px;
  padding: 2px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 12px;
}

.task-time {
  flex-shrink: 0; /* non si accorcia mai */
  white-space: nowrap;
}

.task-title {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-badge {
  position: relative;
  padding-right: 5px; /* spazio per il badge */
}

.task-badge-icon {
  position:absolute;
  background: transparent;
  color: #1e1e1e;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========================   OVERLAY DIALOG   ========================= */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

@media (max-width: 999px) {
  .dialog {
      width: 300px;
  }
  .toggleText {
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .slider {
    width: 45px;
    height: 25px;
  }
  .slider::before {
    width: 20px;
    height: 20px;
    left: 2px;
    top: 1.5px;
  }
  .custom-toggle input:checked + .slider::before {
    transform: translateX(20px);
  }
  .calendar-header {
    font-size: 16px;
  }
  .changeMonth {
    width: 35px;
    height: 25px;
  }

  .task-badge-icon {
    font-size: 18px;
    width: 20px;
    height: 20px;
    top: -6px;
    right: -2px;
  }
  .task-time {
    font-size: 10px;
    margin-left: 6px;
  }
  .task-title {
    font-size: 10px;
    display: none;
  }
  .task-chip {
    margin-left: 7px;
    margin-right: 7px;
  }
  .calendar-weekdays {
    font-size: 11px;
  }
  .cell-content-header {
    margin-left: 3px;
    margin-top: 3px;
    font-size: 11px;
  }
  
}

@media (min-width: 1000px) {
  .dialog {
      width: 450px;
  }
  .toggleText {
    margin-right: 20px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .slider {
    width: 64px;
    height: 30px;
  }
  .slider::before {
    width: 30px;
    height: 26px;
    left: 2px;
    top: 1px;
  }
  .custom-toggle input:checked + .slider::before {
    transform: translateX(30px);
  }
  .calendar-header {
    font-size: 20px;
  }
  .changeMonth {
    width: 45px;
    height: 30px;
  }
  .task-badge-icon {
    font-size: 23px;
    width: 25px;
    height: 25px;
    top: -8px;
    right: -4px;
  }
  .task-time {
    font-size: 14px;
    margin-left: 4px;
  }
  .task-title {
    font-size: 14px;
  }
  .task-chip {
    margin-left: 15px;
    margin-right: 15px;
  }
  .calendar-weekdays {
    font-size: 16px;
  }
  .cell-content-header {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px;
  }
  
}