<div class="filter">
    <div class="filter-orders">
        <h3>Ordina Per...</h3>
        <button [class.active]="filters.orderBy() === 'dueDate'" (click)="filters.toggleOrder('dueDate')">
            <p>Data Scadenza</p>
            <mat-icon>
            {{ filters.orderBy() === 'dueDate' ? (filters.orderDirection() === 'asc' ? 'arrow_upward' : 'arrow_downward') : '' }}
            </mat-icon>
        </button>
        <button *ngIf="filters.showOrdering()" [class.active]="filters.orderBy() === 'priority'" (click)="filters.toggleOrder('priority')">
            <p class="textButtonPriority">Priorità</p>
            <mat-icon>
            {{ filters.orderBy() === 'priority' ? (filters.orderDirection() === 'asc' ? 'arrow_upward' : 'arrow_downward') : '' }}
            </mat-icon>
        </button>
        <button *ngIf="!filters.showOrdering()" [class.active]="filters.orderBy() === 'remindAt'" (click)="filters.toggleOrder('remindAt')">
            <p>Data Promemoria</p>
            <mat-icon>
            {{ filters.orderBy() === 'remindAt' ? (filters.orderDirection() === 'asc' ? 'arrow_upward' : 'arrow_downward') : '' }}
            </mat-icon>
        </button>
        <hr>
    </div>

    <div class="filter-fields">
        <h3>Filtra Per...</h3>
        
        <div>
            <span>Nome Attività</span>
            <input name="Nome" autocomplete="off" type="text" [value]="filters.title()" (input)="filters.setTitle($any($event.target).value)" />
        </div>

        <div *ngIf="filters.showOrdering()">
            <span>Categoria</span>
            <input name="Categoria" autocomplete="off" type="text" [value]="filters.categoryName()" (input)="filters.setCategory($any($event.target).value)"/>
        </div>

        <div>
            <span>Data Scadenza</span>
            <input name="Scadenza" autocomplete="off" type="date" [value]="filters.dueDate() ? (filters.dueDate() | date:'yyyy-MM-dd') : ''" (change)="filters.setDueDate($any($event.target).valueAsDate)" />
        </div>
        
        <div *ngIf="!filters.showOrdering()">
            <span>Data Promemoria</span>
            <input name="Promemoria" autocomplete="off" type="date" [value]="filters.remindAt() ? (filters.remindAt() | date:'yyyy-MM-dd') : ''" (change)="filters.setRemindAt($any($event.target).valueAsDate)" />
        </div>
        
    </div>

    <button class="reset" (click)="filters.reset()">Azzera</button>
</div>
