.filter {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid #717171;
  box-sizing: border-box;
  color: white;
}

/* ---------- ORDINI ---------- */
.filter-orders {
  display: flex;
  flex-wrap: wrap; /* bottoni su più righe se serve */
  width: 100%;
}

h3 {
  margin: 3px;
  width: 100%;
}

.filter-orders p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.filter-orders button {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 999px;
  border: 1px solid rgba(211, 190, 70, 0.863);
  background: transparent;
  color: rgb(211, 190, 70, 0.863);
  cursor: pointer;
}

.filter-orders button.active {
  background-color: rgb(211, 190, 70, 0.863);
  color: black;
}

.filter-orders button:hover:not(.active) {
  scale: 1.05;
}

.filter-orders button mat-icon {
  font-size: 20px;
  margin-left: auto;
}

/* ---------- CAMPI ---------- */
.filter-fields {
  display: flex;
  flex-direction: column;
}

.filter-fields span {
  margin-left: 3px;
  color: #cecece;
}

.filter-fields input {
  padding: 0.25rem 0.3rem;
  border-radius: 4px;
  border: 1px solid #555;
  width: 100%;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  color-scheme: dark;
}

.filter-fields input:focus {
  outline: none;
  border-color: rgba(211, 190, 70, 0.863);
}

/* ---------- RESET ---------- */
.filter .reset {
  align-self: center;
  padding: 0.4rem 0.6rem;
  border-radius: 999px;
  border: 1px solid rgba(211, 190, 70, 0.863);
  background: transparent;
  color: rgb(211, 190, 70, 0.863);
  cursor: pointer;
  transition: all 0.25s ease;
  width: 60%;
  margin-top: 10px;
}

.filter .reset:hover {
  background-color: rgb(211, 190, 70, 0.863);
  color: black;
}

hr {
  width: 80%;
  margin: 8px auto 8px auto;
  border: 0.5px solid #555;
}

@media (max-width: 999px) {
    .textButtonPriority {
      margin-left: 12px;
    }
    .filter-orders {
        gap: 0.4rem;
    }
    .filter-orders button {
      font-size: 10px;
    }
    .filter-orders button mat-icon {
      margin-top: 3px;
    }
    .filter-fields {
      gap: 2px;
    }
    .filter-fields span {
      font-size: 0.65rem;
    }
    .filter-fields input {
      font-size: 0.6rem;
    }
    h3 {
      font-size: 12px;
    }
    .filter .reset {
      font-size: 11px;
    }
}

@media (min-width: 1000px) {

    .filter-orders {
      gap: 12px;
    }
    .filter-orders button {
      font-size: 15px;
      padding: 4px 7px;
    }
    .filter-orders button mat-icon {
      margin-top: 6px;
    }
    .filter-orders p {
      margin-left: 5px;
    }
    .filter-fields {
      gap: 10px;
    }
    .filter-fields span {
      font-size: 14px;
    }
    .filter-fields input {
      gap: 15px;
      font-size: 1rem;
    }
    h3 {
      font-size: 1.1rem;
    }
    .filter .reset {
      font-size: 0.9rem;
    }
  
}
