
* {
    box-sizing: border-box;  /* Garantisce che padding e bordi siano inclusi nella larghezza */
}

.task {
  width: 60%;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 10px 10px 10px rgba(196, 176, 68, 0.6);
}

.task h1 {
  text-align: center;
  color: #333;
}

.add-task-form {
  display: flex;
  flex-direction: column;
}

/* =========================   Form   ========================= */

.form-group {
  display: flex;
  width: 100%;
}

.form-group-recurrence {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.form-group-recurrence mat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form-field.full-width {
  flex: 0 0 100%;
}

.form-field span {
  font-weight: 600;
  color: #555;
  margin-left: 3px;
}

.recurrenceField {
  display: flex;
  width: 100%;
  margin: 0;
}

.ruleField {
  flex: 0 0 50%;  /* Impostare la larghezza al 60% */
  padding-right: 10px;
}

.intervalField {
  flex: 0 0 25%;  /* Impostare la larghezza al 20% */
  padding-right: 10px;
}

/* =========================   Labels   ========================= */

.recurrenceRuleLabel {
  display: flex;
  align-items: center;
  flex: 0 0 75%;
  font-weight: 600;
  color: #555;
}

.recurrenceOccurrencesLabel {
  display: flex;
  align-items: center;
  gap: 3px;
  flex: 0 0 25%;
  font-weight: 600;
  color: #555;
}

/* =========================   Input   ========================= */

input[type="text"],
input[type="date"],
input[type="number"],
input[type="time"] {
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

input,
select {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #1e1e1e;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="time"]:focus {
  outline: none;
  border-color: rgba(196, 176, 68, 0.8);
}

/* =========================   SELECT   ========================= */

.custom-select {
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

select.limited-options {
  max-height: calc(4 * 2.5em); /* 4 righe da 2.5em ciascuna circa */
  overflow-y: auto;
}

.custom-select:focus {
  outline: none;
  border-color: rgba(196, 176, 68, 0.8);
}

/* =========================   CheckBox   ========================= */

.checkbox-section {
  display: flex;
  align-items: center;
}

.checkbox-section input {
  accent-color: #1e1e1e;
  cursor: pointer;
}

.reminder-checkbox-section {
  display: flex;
  align-items: center;
}

.reminder-checkbox-section input {
  accent-color: #1e1e1e;
  cursor: pointer;
}

/* =========================   Animazione Contenuto   ========================= */
.reminder-block {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1600ms ease, opacity 1600ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminder-block.show {
  opacity: 1;
}

/* =========================   Tipologia Reminder   ========================= */

.reminderBox {
  border: solid 2px #adadad;
  width: 90%;
  border-radius: 10px;
}

/* =========================   Tooltip   ========================= */
.tooltip {
  cursor:pointer;
}

/* =========================   Submit   ========================= */

.btn-submit {
  align-self: center;
  padding: 10px 18px;
  width: 50%;
  background-color: #1e1e1e;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: rgba(196, 176, 68, 0.8);
}

small.error {
  color: #d32f2f;
  font-size: 12px;
}

@media (max-width: 999px) {
  .task {
    padding: 18px;
  }
  .task h1 {
    margin-bottom: 4px;
    margin-top: 2px;
    font-size: 20px;
  }
  .add-task-form {
    gap: 2px;
  }
  .form-group {
    gap: 15px;
  }
  .form-group .form-field {
    flex: 1;
  }

  .form-group-recurrence {
    gap: 3px;
  }
  .form-group-recurrence mat-icon{
    font-size: 18px;
  }
  .recurrenceRuleLabel {
    margin-left: 3px;
    font-size: 11px;
    gap: 3px
  }
  .recurrenceOccurrencesLabel {
      font-size: 11px;
  }

  .custom-select {
    padding: 0 3px;
    font-size: 10px;
  }
  .form-field span {
    font-size: 12px;
  }
  input,
  select {
    height: 30px;
    padding: 6px 8px;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .checkbox-section {
    gap: 3px;
    font-size: 13px;
  }
  .checkbox-section input {
      width: 16px;
      height: 16px;
  }
  .reminder-checkbox-section {
    gap: 2px;
    font-size: 11px;
    margin-bottom: 3px;
  }

  .reminder-checkbox-section input {
    width: 15px;
    height: 15px;
  }

  small.error {
    font-size: 10px;
  }
  .errorReminder {
    margin-left: 8px;
  }

  .reminder-block {
    gap: 10px;
  }

  .reminder-block.show {
    max-height: 320px;
    gap: 10px;
  }

  .reminderBox {
    padding: 7px;
    padding-top: 3px;
  }
  .btn-submit {
    padding: 8px 12px;
    font-size: 13px;
  }
  .reminderInfo {
    font-size: 10px;
    margin: 0px;
  }
}

@media (min-width: 1000px) {
  .task {
    padding: 25px;
  }
  .task h1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .add-task-form {
    gap: 4px;
  }
  .form-group {
    gap: 40px;
  }
  .form-group-recurrence {
    gap: 5px;
  }
  .form-group-recurrence mat-icon{
    font-size: 26px;
  }
  .recurrenceRuleLabel {
    margin-left: 3px;
    gap: 3px
  }
  .recurrenceOccurrencesLabel {
      margin-left: 3px;
  }
  .reminderExact {
    padding-left: 8px;
    padding-right: 8px;
  }
  .reminder-checkbox-section {
    gap: 3px;
    font-size: 11px;
    margin: 5px;
  }
  .reminder-checkbox-section input {
    width: 16px;
    height: 16px;
  }
  small.error {
    font-size: 12px;
  }
  .errorReminder {
    margin-left: 10px;
  }  
  .form-group .form-field {
    flex: 1;
  }
  .custom-select {
    padding: 0 10px;
    font-size: 15px;
  }
  .form-field span {
    font-size: 16px;
    margin-bottom: 3px;
  }
  input,
  select {
    height: 40px;
    padding: 8px 10px;
    font-size: 17px;
    margin-bottom: 8px;
  }
    .reminder-block {
    gap: 15px;
  }

  .reminder-block.show {
    max-height: 320px;
    gap: 15px;
  }

  .reminderBox {
    padding: 10px;
    padding-top: 3px;
  }

  .checkbox-section {
    gap: 7px;
    font-size: 18px;
  }
  .checkbox-section input {
      width: 20px;
      height: 20px;
  }

  .btn-submit {
    padding: 10px 18px;
    font-size: 16px;
  }
  .reminderInfo {
    font-size: 14px;
    margin: 0px;
  }
}
