.card {
  position: relative;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 5px;
}
.card.closed::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6); /* effetto opacità */
  pointer-events: none;
}

/* TAG CATEGORIA */
.category-tag {
  position: absolute;
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.card.closed .category-tag {
  z-index: 1;
}

.task-title {
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card.closed .task-title {
  position: relative;
  z-index: 1;
}

.task-description {
  color: #555;
  line-height: 1.5;
}

.card-info-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info-box {
  background: #f8f9fb;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card.closed .info-box.status {
  position: relative;
  border: solid 3px black;
  z-index: 1;
}

hr {
  opacity: 0.3;
}

.data-label {
  color: #888;
}
.reminderTitle{
  text-align: center;
  text-transform: uppercase;
  color: #888;
  margin: 0px;
}

.reminder-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.reminder-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #1e1e1e61;
  border-radius: 10px;
}
.reminder-actions {
  display: flex;
  justify-content: center;
}

.icon-btn {
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 40%;
}

.icon-btn:hover {
  scale: 1.1;
  background-color: rgba(196, 176, 68, 0.9);
}

.btn {
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  scale: 1.2;
  background-color: rgba(196, 176, 68, 0.9);
}

.btn mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================   OVERLAY DIALOG   ========================= */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialogReminder {
  background: white;
  border-radius: 8px;
  padding: 20px;
}


@media (max-width: 999px) {
  .card {
    padding: 0px;
  }

  .category-tag {
    top: 2px;
    right: 0px;
    padding: 4px 9px;
    font-size: 12px;
  }

  .card-header {
    margin-bottom: 12px;
    padding-right: 90px; /* evita sovrapposizione col tag */
  }

  .task-title {
    margin: 0px;
    font-size: 18px;
  }

  .task-description {
    margin: 0;
    margin-top: 4px;
    font-size: 16px;
  }

  .card-info-row {
    gap: 8px;
    margin-bottom: 15px;
  }

  .info-box {
    padding: 6px;
  }

  .data-label {
    font-size: 12px;
    margin-bottom: 0px;
  }

  .data-value {
    font-size: 12px;
  }

  .reminder-container {
    gap: 8px;
    padding-top: 8px;
  }
  .reminderTitle{
    font-size: 12px;
  }

  .reminder-field {
    padding: 5px 8px;
    font-size: 12px;
  }

  .reminder-actions {
    margin-top: 10px;
  }

  .icon-btn {
    padding: 6px 10px;
  }
  .btn {
    padding: 1px 3px;
    font-size: 6px;
  }
  .btn mat-icon {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {

  .category-tag {
    top: 3px;
    right: 5px;
    padding: 8px 12px;
    font-size: 13px;
  }

  .card-header {
    margin-bottom: 16px;
    padding-right: 90px; /* evita sovrapposizione col tag */
  }

  .task-title {
    font-size: 22px;
    margin: 0px;
  }

  .task-description {
    margin: 0;
    margin-top: 8px;
    font-size: 18px;
  }

  .card-info-row {
    gap: 8px;
    margin-bottom: 15px;
  }

  .info-box {
    padding: 10px;
  }

  .data-label {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .data-value {
    font-size: 16px;
  }

  .reminder-container {
    gap: 15px;
    padding-top: 10px;
  }
  .reminderTitle{
    font-size: 16px;
  }
  .reminder-field {
    padding: 10px 14px;
    font-size: 15px;
  }

  .reminder-actions {
    margin-top: 20px;
  }

  .icon-btn {
    padding: 8px 14px;
  }
  .btn {
    padding: 4px 6px;
    font-size: 12px;
  }
  .btn mat-icon {
    font-size: 25px;
  }
}