.card {
  position: relative;
  width: auto; 
  max-width: 500px;
  margin: 0;
  padding: 10px;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}


/* Tag categoria */
.category-tag {
  position: absolute;
  top: 0px;
  right: 0px;

  padding: 6px 12px;
  border-radius: 14px 4px 14px 14px;
  color: #000000;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.task-title {
  margin: 2px 0 10px;
  font-weight: 600;
}

.hrHeader {
  border: none;
  background-color: #eee;
}

.task-description {
  margin: 2px 0 10px;
}

/* Corpo */
.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 16px;
  margin-top: 12px;
  padding-top: 12px;
}

.card-fields {
  border: 1.2px solid #eee;
  border-radius: 10px;
  padding: 5px;
}

/* Label e valori */
.data-label {
  display: block;
  text-transform: uppercase;
  color: #7b7a7a;
}


@media (max-width: 999px) {
  .card-body {
    grid-template-columns: 1fr;
  }
  .category-tag {
    padding: 6px 12px;
    font-size: 0.7rem;
    letter-spacing: 0.4px;
  }
  .task-title {
    font-size: 1.2rem;
  }
  .hrHeader {
    height: 1px;
  }
  .task-description {
    font-size: 0.9rem;
  }
  .data-label {
    font-size: 0.6rem;
    margin-bottom: 0px;
  }
  .data-value {
    font-size: 0.9rem;
  }
  
}

@media (min-width: 1000px) {
  .category-tag {
    padding: 8px 14px;
    font-size: 0.9rem;
  }
  .task-title {
    font-size: 1.4rem;
  }
  .hrHeader {
    height: 0.8px;
  }
  .task-description {
    font-size: 1.1rem;
  }
  .data-label {
    font-size: 0.75rem;
    margin-bottom: 3px;
  }
  .data-value {
    font-size: 1.1rem;
  }

}
