.task {
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task h1 {
  text-align: center;
  color: #333;
}

/* ========================= FORM ========================= */

.add-task-form {
  display: flex;
  flex-direction: column;
}

/* GRIGLIA PERFETTA A 2 COLONNE */
.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field.full-width {
  grid-column: 1 / -1;
}

.form-field span {
  font-weight: 600;
  color: #555;
}

/* ========================= INPUT ========================= */

input[type="text"],
.custom-select {
  border-radius: 10px;
  border: 2px solid #1e1e1e;
  box-sizing: border-box;
}
.custom-select {
  cursor: pointer;
}

input:focus,
.custom-select:focus {
  outline: none;
  border-color: rgba(196, 176, 68, 0.8);
}

.task-textarea {
  border-radius: 10px;
  border: 2px solid #1e1e1e;
  resize: vertical;
  box-sizing: border-box;
  font-family: inherit;
}

.task-textarea:focus {
  outline: none;
  border-color: rgba(196, 176, 68, 0.8);
}

/* ========================= ERROR ========================= */

small.error {
  color: #d32f2f;
}

/* ========================= SUBMIT ========================= */

.btn-submit {
  align-self: center;
  background-color: #1e1e1e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: rgba(196, 176, 68, 0.8);
}

@media (max-width: 999px) {

  .task {
    padding: 5px 10px;
  }

  .task h1 {
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 18px;
  }

  .add-task-form {
    gap: 8px;
  }

  .form-group {
    gap: 8px;
  }

  .form-field {
    gap: 0px;
  }
  .form-field span{
    font-size: 13px;
    margin-left: 4px;
  }

  input[type="text"],
  .custom-select {
    width: 100%;
    height: 30px;
    padding: 5px 8px;
    font-size: 12px;
  }

  .task-textarea {
    width: 100%;
    padding: 5px 8px;
    font-size: 12px;
  }

  small.error {
    font-size: 11px;
    margin-top: 1.5px;
  }

  .btn-submit {
    width: 60%;
    padding: 8px 12px;
    font-size: 15px;
    margin-top: 8px;
  }

}

@media (min-width: 1000px) {

  .task {
    margin: 16px auto;
  }

  .task h1 {
    margin-bottom: 14px;
    font-size: 22px;
  }

  .add-task-form {
    gap: 12px;
  }

  .form-group {
    gap: 12px;
  }

  .form-field {
    gap: 2px;
  }
  .form-field span{
    font-size: 15px;
    margin-left: 6px;
  }

  input[type="text"],
  .custom-select {
    width: 100%;
    height: 35px;
    padding: 5px 8px;
    font-size: 16px;
  }

  .task-textarea {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
  }

  small.error {
    font-size: 12px;
    margin-top: 2px;
  }

  .btn-submit {
    width: 60%;
    padding: 10px 18px;
    font-size: 14px;
    margin-top: 10px;
  }

}