<h1>I Miei Promemoria</h1>
<div class="reminders">
    <div *ngFor="let reminder of sortedReminders()" class="reminder-card" [class.removing]="animatedReminderId === reminder.id && animationType === 'remove'">
        <div class="reminder-data">
            <div class="data-field">
                <span class="data-label">Attività</span>
                <p>{{ reminder.task_title }}</p>
            </div>

            <div class="data-field">
                <span class="data-label">Scadenza</span>
                <p>{{ reminder.task_due_date | date:'dd/MM/yyyy - HH:mm' }}</p>
            </div>

            <div class="data-field">
                <span class="data-label">Promemoria</span>
                <p>{{ reminder.remind_at | date:'dd/MM/yyyy - HH:mm' }}</p>
            </div>
        </div>  
        <div class="card-actions">
            <button (click)="editReminder(reminder.id)"><mat-icon>edit</mat-icon></button>
            <button (click)="deleteReminder(reminder.id)"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="showDialogEditReminder()" (click)="closeDialog($event)">
    <div class="dialog" (click)="$event.stopPropagation()">
        <app-edit-reminder [reminderSignal]="selectedReminder" (reminderUpdated)="onReminderUpdated($event)" (closeDialog)="showDialogEditReminder.set(false)"></app-edit-reminder>
    </div>
</div>
