.navbar{
    display: flex;
    background-color: #1e1e1e;
    justify-content: space-between;
}

.navbar-left {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.navbar-right {
  height: auto;
  display: flex;
  align-items: center;
  color: white;
}

.buttonLogout{
  background-color: transparent;
  border: none;
  color: white;
}

.app-logo {
  object-fit: contain;
}

.app-name {
  color: white;

}
.username {
  color: white;
}

.user-avatar {
  border-radius: 20%;
  object-fit: cover;
}


.buttonLogout mat-icon {
    margin-top: 5px;
    cursor: pointer;  
}

.separatore{
    margin: 0px;
    border: none;
    height: 5px;
    background-color: rgba(196, 176, 68, 0.9); /* colore oro */
}
.separatore2{
    margin: 0px;
    border: none;
    height: 20px;      
    background-color: #1e1e1e;
}

@media (max-width: 999px) {
  .app-logo {
    width: 80px;
    height: 80px;
    margin: 20px;
  }
  .app-name {
    font-size: 25px;
    margin-left: 20px;
  }
  .username {
    font-size: 21px;
    margin-right: 7px;
  }
  .user-avatar {
    width: 70px;
    height: 70px;
    margin-right: 7px;
  }
  .buttonLogout mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-right: 40px;
  }
}

@media (min-width: 1000px) {
  .app-logo {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  .app-name {
    font-size: 30px;
    margin-left: 30px;
  }
  .username {
    font-size: 25px;
    margin-right: 15px;
  }
  .user-avatar {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  .buttonLogout mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin-right: 100px;
  }
}