/* =========================   Layout   ========================= */

.task {
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task h1 {
  text-align: center;
  color: #333;
}

.add-task-form {
  display: flex;
  flex-direction: column;
}

/* =========================   Form   ========================= */

.form-group {
  display: flex;
  justify-content: center;
}

.form-group .form-field {
  flex: 1;
}
.form-field {
  display: flex;
  flex-direction: column;
}

/* =========================   Labels   ========================= */

.form-field label {
  font-weight: 600;
  color: #555;
}

small.error {
  color: #d32f2f;
}

/* =========================   Input   ========================= */

input[type="date"],
input[type="time"],
input[type="number"],
select {
  border-radius: 10px;
  border: 2px solid #1e1e1e;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: rgba(196, 176, 68, 0.8);
}

/* =========================   Select   ========================= */

.custom-select {
  background-color: white;
  color: #1e1e1e;
  cursor: pointer;
}

/* =========================   Checkbox   ========================= */

.checkbox-section {
  display: flex;
  align-items: center;
}

.checkbox-section input {
  accent-color: #1e1e1e;
}

/* =========================   Tabs   ========================= */

.tabs {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
}

.tab {
  flex: 1;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.tab::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    #1e1e1e 0%,
    rgba(196, 176, 68, 0.8) 50%,
    #1e1e1e 100%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.tab.active::before {
  opacity: 1;
}

/* =========================   Animazione Contenuto   ========================= */

.reminder-block {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 2000ms ease, opacity 2000ms ease;
}

.reminder-block.show {
  opacity: 1;
}

/* =========================   Submit button   ========================= */

.btn-submit {
  align-self: center;
  width: 60%;
  background-color: #1e1e1e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.btn-submit:hover {
  background-color: rgba(196, 176, 68, 0.8);
}


@media (max-width: 999px) {
  .task {
    padding: 6px;
  }
  .task h1 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .add-task-form {
    gap: 8px;
  }
  .form-group {
    gap: 40px;
  }
  .form-field {
    gap: 2px;
    font-size: 12px;
  }
  .checkbox-section {
    gap: 4px;
    font-size: 13px;
    margin-left: 15px;
  }
  .checkbox-section input {
    width: 16px;
    height: 16px;
  }
  small.error {
    font-size: 11px;
  }

  input[type="date"],
  input[type="time"],
  input[type="number"],
  select {
    width: 100%;
    padding: 5px 8px;
    font-size: 12px;
  }    
  .tabs {
    gap: 6px;
    width: 90%;
    height: 30px;
    margin: 6px auto 10px;
  }
  .tab {
    font-size: 13px;
  }

  .reminder-block.show {
    max-height: 300px;
  }
    
  .btn-submit {
    width: 60%;
    padding: 6px 12px;
    font-size: 12px;
    margin-top: 10px;
  }
  p {
    font-size: 11px;
    margin-bottom: 0px;
  }
}


@media (min-width: 1000px) {
   .task {
    margin: 10px auto;
    padding: 15px;
  }
  .task h1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .add-task-form {
    gap: 15px;
  }
  .form-group {
    gap: 40px;
  }
  .form-field {
    gap: 4px;
  }
  .checkbox-section {
    gap: 10px;
    font-size: 18px;
  }
  .checkbox-section input {
    width: 20px;
    height: 20px;
  }
  small.error {
    font-size: 12px;
  }

  input[type="date"],
  input[type="time"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
  }    
  .tabs {
    gap: 8px;
    width: 90%;
    height: 40px;
    margin: 10px auto 20px;
  }
  .tab {
    font-size: 18px;
  }
  
  .reminder-block.show {
    max-height: 300px;
  }
    
  .btn-submit {
    width: 60%;
    padding: 10px 18px;
    font-size: 15px;
    margin-top: 15px;
  }
  p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}