h1{
    color: white;
    text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.category-card {
  background: #fff;
  color: #1e1e1e;
  width: 180px;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  font-size: 25px;
}

.category-name {
  font-weight: 600;
  margin: 0.5rem 0;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.card-actions button {
    background-color: #1e1e1e;
    color: white;
    width: 45%;
}

.card-actions button:hover{
  scale: 1.15;
  border: none;
  background-color: #696969;
}

.icon-btn {
  cursor: pointer;
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 1rem;
  border-radius: 15px;
  border: 1px solid rgba(211, 190, 70, 0.863);
  background: transparent;
  color: rgb(211, 190, 70, 0.863);
}

.icon-btn:hover{
  background-color: rgb(211, 190, 70, 0.863);
  color: black;
}

.addCategory{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.category-card.removing {
  animation: implodeFade 0.6s ease forwards;
}

@keyframes implodeFade {
  0% { opacity: 1; transform: scale(1); filter: blur(0);}
  10% { opacity: 0.95; transform: scale(0.9); filter: blur(0.8px);}
  20% { opacity: 0.9; transform: scale(0.8); filter: blur(1.6px);}
  30% { opacity: 0.85; transform: scale(0.7); filter: blur(2.4px);}
  40% { opacity: 0.75; transform: scale(0.60); filter: blur(3.2px);}
  50% { opacity: 0.65; transform: scale(0.5); filter: blur(4px);}
  60% { opacity: 0.55; transform: scale(0.4); filter: blur(4.8px);}
  70% { opacity: 0.4; transform: scale(0.30); filter: blur(5.6px);}
  80% { opacity: 0.25; transform: scale(0.2); filter: blur(6.4px);}
  90% { opacity: 0.15; transform: scale(0.1); filter: blur(7.2px);}
  100% { opacity: 0; transform: scale(0); filter: blur(8px);}
}

.overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
 
.dialog {
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: auto;
}

.zIndex0{
    z-index: 0;
}

@media (max-width: 999px) {
    .dialog {
        width: 350px;
    }
}

@media (min-width: 1000px) {
    .dialog {
        width: 520px;
    }
}