<h1>Le Mie Categorie</h1>
<div class="addCategory">
    <button class="icon-btn" (click)="addCategory()">Aggiungi Categoria <mat-icon>add</mat-icon></button>
</div>
<div class="categories">
  <div *ngFor="let category of allCategories()" class="category-card" [ngStyle]="{ 'background-color' : category.color}" [class.removing]="animatedCategoryId === category.id && animationType === 'remove'">
    <p class="category-name" [title]="category.name">{{ category.name }}</p>
    <div class="card-actions">
      <button (click)="editCategory(category.id)"><mat-icon>edit</mat-icon></button>
      <button class="action-remove" (click)="deleteCategory(category.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>



<div class="overlay" *ngIf="showDialogAddCategory()" (click)="closeDialog($event)">
    <div class="dialog" (click)="$event.stopPropagation()">
        <app-add-category (categoryCreated)="onCategoryCreated($event)" (closeDialog)="showDialogAddCategory.set(false)"></app-add-category>
    </div>
</div>

<div class="overlay" *ngIf="showDialogEditCategory()" (click)="closeDialog($event)">
    <div class="dialog" (click)="$event.stopPropagation()">
        <app-edit-category [categorySignal]="selectedCategory" (categoryUpdated)="onCategoryUpdated($event)" (closeDialog)="showDialogEditCategory.set(false)"></app-edit-category>
    </div>
</div>