.sidebar {
    margin-left: auto;
    margin-top: 10px;
    color: white;
}

.sidebar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
  border-left: 4px solid transparent;
  transition: all 0.2s ease;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar a.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(211, 190, 70, 0.863);
  color: rgba(211, 190, 70, 0.863);
}

@media (max-width: 999px) {
    .sidebar {
        width:96%;
        font-size: 12.5px;
    }
}

@media (min-width: 1000px) {
    .sidebar {
        width: 80%;
        font-size: 20px;
    }
}
