.sidebar {
    width: 80%;
    margin-left: auto;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

hr{
    width: 80%;
    margin-left: 0px;
}

.sidebar a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: white;
}

.sidebar a.active {
  background-color: #000;
  color: #fff;
}
